<%= form_for(@contract, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @contract.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h4>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :house_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :house_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :user_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contract_date_start, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :contract_date_start, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contract_date_end, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :contract_date_end, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :contract_status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :contract_status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
