<div class="page-header">
  <%= link_to new_contract_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contract
  <% end %>
  <h1>Listing contracts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>House</th>
            <th>User</th>
            <th>Contract date start</th>
            <th>Contract date end</th>
            <th>Contract status</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @contracts) do |contract| %>
            <td><%= contract.house_id %></td>
            <td><%= contract.user_id %></td>
            <td><%= contract.contract_date_start %></td>
            <td><%= contract.contract_date_end %></td>
            <td><%= contract.contract_status %></td>
            <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
