<div class="page-header">
  <%= link_to contracts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_contract_path(@contract), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show contract</h1>
</div>

<dl class="dl-horizontal">
  <dt>House:</dt>
  <dd><%= @contract.house_id %></dd>

  <dt>User:</dt>
  <dd><%= @contract.user_id %></dd>

  <dt>Contract date start:</dt>
  <dd><%= @contract.contract_date_start %></dd>

  <dt>Contract date end:</dt>
  <dd><%= @contract.contract_date_end %></dd>

  <dt>Contract status:</dt>
  <dd><%= @contract.contract_status %></dd>

</dl>
