<form action="<%=update_house_path%>" mothod="post" class="form">
  <input name="house[id]" type="hidden" value="<%=@house["id"]%>"/>
  <input name="house[house_owner]" type="hidden" value="<%=@house["house_owner"]%>"/>
  <div class="form-group">
    <div class="col-md-4">Address</div>
    <div class="col-md-8"><input class="form-control" name="house[address]" type="text" value="<%=@house["address"]%>"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-4">Province</div>
    <div class="col-md-8"><input class="form-control" name="house[province]" type="text" value="<%=@house["province"]%>"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-4">House status</div>
    <div class="col-md-4"> available <input class="form-control" type="radio" name="house[house_status]" value="available" <% if @house["house_status"] == "available" %>checked <% end %>> </div> <div class="col-md-4"> unavailable <input class="form-control" type="radio" name="house[house_status]" value="unavailable" <% if @house["house_status"] != "available" %>checked <% end %>></div>
  </div>

  <div class="form-group">
    <div class="col-md-4">Renting Price</div>
    <div class="col-md-8"><input class="form-control" name="house[renting_price]" type="text" value="<%=@house["renting_price"]%>"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-4">Description</div>
    <div class="col-md-8"><textarea class="form-control" name="house[description]"><%=@house["description"]%> </textarea></div>
  </div>
  
  
  <div class="actions">
    <input type="submit" value="Submit" class="btn btn-primary"> | 

    <%= link_to 'Destroy', house_path(@house["id"]), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</form>
