
<table class="table table-bordered table-hover">
  <tbody>
    <% 
      @houses.each do |house|
       if house["user"]["display_name"] then 
            user_name = house["user"]["display_name"]
          else
            user_name = house["user"]["email"]
          end 
     %>
      <tr>
        <td>
        <h4><strong><%= house["address"] %></strong></h4>
          <table class="table">
            <tr>
              <td><img src="/house.png" width="500px;"></td>
              <td>
                <table class="table">
                  <tr><td>Province</td><td><%= house["province"] %></td></tr>
                  <tr><td>House owner</td><td><%= user_name %></td></tr>
                  <tr><td>Price</td><td><%= house["renting_price"] %></td></tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <% if session[:current_user] then %>
                  <% if session[:current_user]["user_type"] == "owner" then %>
                    <%= link_to 'Edit', edit_house_path(house["id"], class: 'btn btn-default') %>
                  <% end %>
                  <% if session[:current_user]["user_type"] != "owner" then %>
                    <%= link_to 'Rent this house', "mailto:" + house["user"]["email"], class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </td>
              <td><%= house["description"] %></td>
            </tr>
          </table>
          
        </td>
      </tr>


    <% end %>
  </tbody>
</table>

<br>

<% if session[:user_id] && session[:current_user]["user_type"] == "owner" %>
  <%= link_to 'New House', new_house_path %>
<% end %>
