<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="active">
      <th>Address</th>
      <th>Province</th>
      <th>Description</th>
      <th>House owner</th>
      <th>Renting price</th>
      <% if session[:current_user] then %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house["address"] %></td>
        <td><%= house["province"] %></td>
        <td><%= house["description"] %></td>
        <% if house["user"]["display_name"] then 
          user_name = house["user"]["display_name"]
        else
          user_name = house["user"]["email"]
        end %>
        <td><%= user_name %></td>
        <td><%= house["renting_price"] %></td>
        <% if session[:current_user] then %>
        <td>
        <% if session[:current_user]["user_type"] == "owner" then %>
          <%= link_to 'Edit', edit_house_path(house["id"]) %>
        <% end %>
        <% if session[:current_user]["user_type"] != "owner" then %>
          <%= link_to 'Rent this house', new_contract_path + "?house_id=" + house["id"].to_s %>
        <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:user_id] && session[:current_user]["user_type"] == "owner" %>
  <%= link_to 'New House', new_house_path %>
<% end %>
