<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Province:</strong>
  <%= @house.province %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<p>
  <strong>House owner:</strong>
  <%= @house.house_owner %>
</p>

<p>
  <strong>House status:</strong>
  <%= @house.house_status %>
</p>

<p>
  <strong>Renting price:</strong>
  <%= @house.renting_price %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
