<div class="page-header">
  <%= link_to edit_user_path(session[:user_id]), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Welcome: <% if @user["user"]["display_name"] then %>
      <%= @user["user"]["display_name"]%>
    <% else %>
      <%= @user["user"]["email"] %>
    <% end %>
    </h1>
</div>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @user["user"]["email"] %></dd>

  <dt>User type:</dt>
  <dd><%= @user["user"]["user_type"] %></dd>

</dl>
