<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table class="table-bordered table-hover">
  <thead>
    <tr class="active">
      <th>Address</th>
      <th>Province</th>
      <th>Description</th>
      <th>House owner</th>
      <th>Renting price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= link_to house["address"], house %></td>
        <td><%= house["province"] %></td>
        <td><%= house["description"] %></td>
        <td><%= house["house_owner"] %></td>
        <td><%= house["renting_price"] %></td>
        <td><%= link_to 'Edit', edit_house_path(house["id"]) %></td>
        <td><%= link_to 'Destroy', house_path(house["id"]),method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>
